<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block formAdd %}
        {% endblock %}
        {#% block body %#}
            {#{ hello ~ ' ' ~ name }#}
            {#% for personne in personnes %#}
                {#<li>{{ personne.firstname }}</li>#}
            {#% endfor %#}
        {#% endblock %#}
        {#% block javascripts %#}{#% endblock %#}
    </body>
</html>
